@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

button {
  font: inherit;
  background: #ff2058;
  padding: 0.5rem 2rem;
  color: white;
  border: 1px solid #ff2058;
  margin: 0.5rem 0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
button:active {
  box-shadow: 0 2px 4px rgba(19, 19, 19, 0.26);
}

button:focus {
  outline: none;
}
